@model IEnumerable<FinesRegister.Models.Fine>

@{
    ViewData["Title"] = "Koduleht";
}
<div class="text-center">
    <h2>Otsi Trahvid Auto Numbriga</h2>

    <form asp-action="Index" method="post">
        <div class="form-group">
            <label for="carNumber">Auto Number:</label>
            <input type="text" id="carNumber" name="carNumber" class="form-control" placeholder="Sisesta auto number" />
        </div>
        <input type="submit" value="Otsi" class="btn btn-primary" />
    </form>

    @if (Model != null && Model.Any())
    {
        
        <div class="ticket-container">
            @foreach (var item in Model)
            {
                <div class="ticket">
                    <div class="ticket-header">
                        <span class="ticket-date"> @Html.DisplayNameFor(model => model.First().IssueDate): @item.IssueDate.ToString("dd.MM.yyyy")</span>
                        <span class="ticket-number">@Html.DisplayNameFor(model => model.First().Car.Number): @item.Car.Number</span>
                    </div>
                    <div class="ticket-body">
                        <p>@Html.DisplayNameFor(model => model.First().Amount): <strong>@item.Amount €</strong></p>
                        <p>@Html.DisplayNameFor(model => model.First().Reason): @item.Reason</p>
                        <p>@Html.DisplayNameFor(model => model.First().DueDate): @item.DueDate.ToString("dd.MM.yyyy")</p>
                        <p>@Html.DisplayNameFor(model => model.First().IssueDate): <strong>@(item.IsPaid ? "Tasuline" : "Mitte tasuline")</strong></p>
                    </div>
                </div>
            }
        </div>
    }
    else if (Model != null && !Model.Any())
    {
        <p>Antud numbrile trahve ei leitud.</p>
    }
</div>