@model IEnumerable<FinesRegister.Models.Car>

@{
ViewBag.Title = "Halda autod";

}

<h2>Autod</h2>


    <p>
        @Html.ActionLink("Lisa uus", "CarCreate")
    </p>


<table class="table">
    <thead>
    <tr>
        <th>
            @if (Model != null && Model.Any())
            {
            @Html.DisplayNameFor(model => model.First().Number)
            }
        </th>
        <th>
            @if (Model != null && Model.Any())
            {
            @Html.DisplayNameFor(model => model.First().UserId)
            }
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Muuda", "CarEdit", new { id = item.Id }) |
            @Html.ActionLink("Kustuta", "CarDelete", new { id = item.Id })
        </td>
    </tr>
    }
    }
    else
    {
    <tr>
        <td colspan="3">Autosid pole saadaval</td>
    </tr>
    }
    </tbody>
</table>

