@model IEnumerable<FinesRegister.Models.Fine>

@{
ViewBag.Title = "Halda trahvid";
}

<h2>Trahvid</h2>

<p>
    @Html.ActionLink("Lisa uus", "FineCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Car.Number)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Number) 
        </td>
        <td>
            @Html.ActionLink("Muuda", "FineEdit", new { id = item.Id }) |
            @Html.ActionLink("Kustuta", "FineDelete", new { id = item.Id })
        </td>
    </tr>
    }
</table>
